# Ambientes virtuais
.venv/
.venv-1/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# ChromaDB
database/chroma_db/

# Variáveis de ambiente
.env

# Sistema
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Testes e cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/